<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>common</title>
    <script src="../../../webapp/js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="../../../webapp/css/bootstrap.min.css">
    <script src="../../../webapp/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../../webapp/css/common.css">
</head>

<body>
<!--导航栏-->
<nav class="top">
    <a href="homepage.html">
        <span class="glyphicon glyphicon-home blueColor"></span>
        首页
    </a>

    <span>欢迎使用货物管理系统</span>
    <a href="#">请登录</a>
    <a href="#">免费注册</a>

    <span class="pull-right">
        <a href="#">
            <span class="glyphicon glyphicon-th-list blueColor"></span>
            我的订单</a>
        <a href="#">
            <span class="glyphicon glyphicon-envelope blueColor"></span>
            消息<strong>1</strong>件
        </a>
    </span>
</nav>

<!--主体-->
<div>
    <a href="homepage.html"> <img  src="../../../webapp/img/logo.jpg" class="logo" id="logo">
    </a>

    <div class="searchDiv">
        <input type="text" placeholder="用户名 货物名 订单号" name="keyword">
        <button class="searchButton" type="submit">搜索</button>
        <div class="searchBelow">
                <span> <a href="#"> 货物 </a> <span>|</span>
                </span> <span> <a href="#">仓库</a> <span>|</span>
                </span> <span> <a href="#">用户</a> <span>|</span>
                </span> <span> <a href="#">订单</a></span>
        </div>
    </div>
</div>

<!--页脚-->
<div style="display:block;" class="footer" id="fotter">
    <div class="footer_img" id="footer_img">
        <a href="#">
            <img src="../../../webapp/img/page_end.png">
        </a>
    </div>
    <div class="footer_desc" id="footer_desc">
        <div class="descColumn">
            <span class="descColumnTitle">使用指南</span>
            <a href="#">免费注册</a>
            <a href="#">用户说明</a>
            <a href="#">管理员说明</a>
        </div>
        <div class="descColumn">
            <span class="descColumnTitle">联系我们</span>
            <a href="#"><img src="../../../webapp/img/qq.jpg">843021061</a>
            <a href="#"><img src="../../../webapp/img/wechat.jpg">lzr843021061</a>
            <a href="#">其他信息</a>
        </div>
        <div class="descColumn">
            <span class="descColumnTitle">捐助作者</span>
            <a href="#">快捷支付</a>
            <a href="#">信用卡</a>
            <a href="#">支付宝</a>
            <a href="#">微信</a>
        </div>
        <div class="descColumn">
            <span class="descColumnTitle">企业服务</span>
            <a href="#">企业入驻</a>
            <a href="#">企业中心</a>
            <a href="#">使用规则</a>
            <a href="#">物流服务</a>
            <a href="#">运营服务</a>
        </div>
        <div class="descColumn">
            <span class="descColumnTitle">手机APP</span>
            <a href="#"><img src="../../../webapp/img/later.png"></a>
        </div>
    </div>
    <div style="clear:both"></div>
</div>
<div class="footer" id="footer">
    <img src="../../../webapp/img/box.jpg" class="box" id="box">
    <div class="copyright" id="copyright">
        <div class="footer_link">
            <a href="#">关于系统</a>
            <a href="#">帮助中心</a>
            <a href="#">开放平台</a>
            <a href="#">诚邀英才</a>
            <a href="#">联系我们</a>
            <a href="#">网站合作</a>
            <a href="#">法律声明</a>
            <a href="#">知识产权</a>
            <a href="#">用户举报</a>
        </div>

        <div class="license">
            <div class="copyright">Copyright © 2020 cooldogzong 版权所有</div>
        </div>
    </div>
</div>
</body>
</html>